.jg-slideTop-enter-active, .jg-slideTop-leave-active
    opacity: 1
    overflow: hidden
    transition: all .2s ease 
.jg-slideTop-enter, .jg-slideTop-leave-active
    opacity: 0
    overflow: hidden
    transform: translate3d(0, -100%, 0)