// 定义过渡过程中的时间以及曲线
.jg-slideRight-enter-active, .jg-slideRight-leave-active
    opacity: 1
    overflow: hidden
    transition: all .2s ease

.jg-slideRight-enter, .jg-slideRight-leave-active
    opacity: 0
    overflow: hidden
    transform: translate3d(100%, 0, 0)
    