.jg-slideBottom-enter-active, .jg-slideBottom-leave-active
    opacity: 1
    overflow: hidden
    transition: all .2s ease
.jg-slideBottom-enter, .jg-slideBottom-leave-active
    opacity: 0
    overflow: hidden
    transform: translate3d(0, 100%, 0)