.jg-zoom-enter-active, .jg-zoom-leave-active
    transition: all .2s ease 
    transform: scale3d(1, 1, 1)
    overflow: hidden
    opacity: 1

.jg-zoom-enter
    transform: scale3d(3, 3, 3)
    opacity: 0.6

.jg-zoom-leave-active
    opacity: 0