.jg-flip-enter-active, .jg-flip-leave-active
    transition: all .3s ease-in 

.jg-flip-enter, .jg-flip-leave-active
    transform: perspective(200px) rotate3d(1, 0, 0, 90deg)
    visibility: visible
    opacity: .2