.jg-door-enter-active, .jg-door-leave-active
    transition: all .2s ease 
    opacity: 1
    transform: scale3d(1, 1, 1)
    
.jg-door-enter, .jg-door-leave-active
    transform: scale3d(0, 1, 1)
    opacity: 0