@charset "UTF-8";

/*!
 * @author jiangwang
 * jungle-css 1.0.0
 * Documention http://www.github.com/JungleJungleW/jungle-css
 */

// mixin
@import "./mixin.styl"

// output file
@import "./translate/slide/slide.styl"
@import "./translate/fade/fade.styl"
@import "./translate/bounce/bounce.styl"
@import "./translate/zoom/zoom.styl"
@import "./translate/flip/flip.styl"
@import "./translate/door/door.styl"